<% include ../header %>
<h1><%= title %></h1>

<form class="form-inline was-validated" action="/authentificationsession/chat" method="post">
  <div class="form-group">
    <input type="text" class="form-control" id="validationTooltip" name="message" placeholder="Votre message ?"
      required />
    <button type="submit" class="btn btn-success">Enregistrement</button>
    <div class="valid-feedback">Message valide, vous pouvez envoyer !</div>
    <div class="invalid-feedback">Merci de fournir un message.</div>
  </div>
</form>
<br>
<hr>

<div class="container">
  <h2>Les messages :</h2>
  <% messages.forEach(entreechat => { %>
  <div
    class="<%= entreechat.iduser === utilisateurActuel ? 'alert alert-info w-50' : 'alert alert-light w-50 offset-md-3' %>"
    role="alert">
    <blockquote class="blockquote">
      <p class="mb-0"><%= entreechat.message %></p>
      <footer class="blockquote-footer"><%= entreechat.email %>
        <cite class="dateutc"> <%= entreechat.enregistrementchat %></cite>
      </footer>
    </blockquote>
  </div>
  <% }) %>
</div>

<a class="btn btn-secondary" href="/authentificationsession/logout">Logout</a>

<script src='/javascripts/moment-with-locales.js'></script>
<script>
  function utcVersMomentFR(monelement) {
    let dateformatUTC = document.getElementsByClassName("dateutc")

    for (let i = 0; i < dateformatUTC.length; i++) {
      let dateformatmoment = document.createElement(monelement)
      dateformatmoment.className = "datemoment"
      let dateformatUTCtexte = dateformatUTC[i].textContent
      let dateformatmoment_content = document.createTextNode(moment.utc(dateformatUTCtexte).locale('fr').fromNow())
      dateformatmoment.appendChild(dateformatmoment_content)
      let parentDiv = dateformatUTC[i].parentNode
      // on ajoute la date au format moment
      parentDiv.appendChild(dateformatmoment)
      // on cache la date UTC
      dateformatUTC[i].style.display = "none"
    }
  }

  utcVersMomentFR("cite")

</script>

<% include ../footer %>
